<header>
    <img id="logo" src="/assets/icon.png" alt="">
    <span>SPAIN IN YOU</span>
    <div class="cart" (click)="showCart()">
        <img src="/assets/cartIcon.png" class="btn btn-outline-light snipcart-checkout">
    </div>
    <nav class="navbar">
        <ul class="nav-links">
            <div class="menu">
                <li><a href="/home">Home</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/products">Products</a></li>
                <li (click)="verify()"><a>Login</a></li>
            </div>
        </ul>
    </nav>
</header>