<header>
    <!-- Print logo of the store -->
    <img id="logo" src="/assets/icon.png" alt="">
    <!-- Print the name of the store -->
    <span>SPAIN IN YOU</span>
    <!-- Print the icon of the cart to be able to access to the cart view -->
    <div class="cart" (click)="showCart()">
        <img src="/assets/cartIcon.png" class="btn btn-outline-light snipcart-checkout">
    </div>
    <!-- Print the navbar to be able to access to the different pages of the web -->
    <nav class="navbar">
        <ul class="nav-links">
            <div class="menu">
                <li><a href="/home">Home</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/products">Products</a></li>
                <li (click)="verify()"><a>Login</a></li>
            </div>
        </ul>
    </nav>
</header>