<footer class="footer-distributed">
	<!-- Show social media icons -->
	<div class="footer-right">
		<i><img id="logo" src="/assets/icons/insta.png"></i>
		<i><img id="logo" src="/assets/icons/linkendl.png"></i>
		<i><img id="logo" src="/assets/icons/twiter.png"></i>
		<i><img id="logo" src="/assets/icons/youtube.png"></i>
	</div>
	<!-- Show link to move to home and contact pages -->
	<div class="footer-left">
		<p class="footer-links">
			<a class="link-1" href="/home">Home</a> -
			<a href="/contact">Contact</a>
		</p>
		<p>Spain in you &copy; 2023</p>
	</div>
</footer>