<footer class="footer-distributed">

	<div class="footer-right">
		<i><img id="logo" src="/assets/icons/insta.png"></i>
		<i><img id="logo" src="/assets/icons/linkendl.png"></i>
		<i><img id="logo" src="/assets/icons/twiter.png"></i>
		<i><img id="logo" src="/assets/icons/youtube.png"></i>
	</div>

	<div class="footer-left">
		<p class="footer-links">
		    <a class="link-1" href="#">Home</a> -
			<a href="#">About</a> -
			<a href="#">F&Q</a> -
			<a href="#">Contact</a>
		</p>
		<p>Spain in you &copy; 2023</p>
	</div>

</footer>