.container-fluid {
    margin: 13%;
}

ul {
    text-decoration: none;
}

.row {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    width: 70%;
    display: inline-table;
}

.sidebar-sticky {
    text-align: right;

    a{
        cursor: pointer;
    }
}

#title {
    background-color: #f85631;
    color: white;
    margin: auto;
    width: 40%;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 50px;
}

p{
    font-size: 20px;
}