<app-header></app-header>
<div class="displayTable">
    <div class="displayTableCell">
      <div class="wrapper">
        <form class="reset">
          <p class="title">Reset Password</p>
          <p class="text-center">Please enter your email address to request a password reset.</p>
          <div class="formGroup">
            <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
          </div>
          <a>Go back to <span class="redirect" routerLink="/sign-in">Sign In?</span></a>
          <input type="submit" class="button" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </form>
      </div>
    </div>
</div>
<app-footer></app-footer>