:host {
    display: block;
    position: relative;
    background-image: url("/assets/back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content {
    display: block;
    min-height: calc(100vh - 60px - 40px - 60px);
    margin: 0 auto;
    text-align: center;
}