:host {
    display: block;
    position: relative;
}

.content {
    display: block;
    min-height: calc(100vh - 60px - 40px - 60px);
    width: 64%;
    margin: 0 auto;
    padding-top: 60px;
    text-align: center;

    .product {
        display: inline-block;
    }
}

.cart {
    position: absolute;
    left: 920px;
    z-index: 100;
    background-color: rgb(6, 233, 253);
    color: #fff;
    padding-left: 20px;
    width: 100%;
}