<app-header></app-header>
<div class="displayTable">
    <div class="displayTableCell">
      <div class="wrapper">
        <!-- Print form to be able to sign up a new user -->
        <form class="register">
          <p class="title">Sign Up</p>
          <div class="formGroup">
            <input type="email" class="formControl" placeholder="Email Address" #userEmail required/>
          </div>    
          <div class="formGroup">
            <input type="password" class="formControl" placeholder="Password" #userPwd required/>
          </div>     
          <a>Already have an account?          
            <span class="redirect" routerLink="/sign-in">Log In</span>
          </a>
          <p type="button" class="signBtn" (click)="authService.SignUp(userEmail.value, userPwd.value)">
            <span class="state">Sign Up</span>
          </p>
          <!-- Button to sign up with google -->
          <input type="button" class="button" value="Continue with Google" (click)="authService.GoogleAuth()"/>
        </form>
      </div>
    </div>
</div>
<app-footer></app-footer>