<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
        <main class="container">
            <div class="text-container">
                <h1 class="title">Welcome to Spain in you, you can start shopping</h1> 
                <p class="subtitle">The best Spanish dishes</p>
                <a href="/home" class="cta">Let’s shop</a>
            </div>
            <div class="image-container">
                <img src="/assets/iconCircle.png" alt="" class="img">
            </div>
            <img src="/assets/picsWelcome/wave.svg" alt="" class="wave">
        </main>
    </body>
</html>