<app-header></app-header>
<main class="container">
    <!-- Print first part of the content, in which it's show some text and a picture -->
    <div class="firstPart">
        <div class="lunchTime">
            <h1>Enjoy Authentic Spanish Cuisine.</h1> 
            <p>Indulge in delicious traditional Spanish food with Spanish Food Store.</p>
        </div>
        <div class="imageTime">
            <img src="/assets/Home/lunch.svg" alt="">
        </div>
    </div>
    <!-- Print second part of the content, in which it's two pictures -->
    <div class="foodPics">
        <div class="left">
            <img src="/assets/Home/mainPic.jpg" alt="">
        </div>
        <div class="right">
            <img src="/assets/Home/mainPic2.jpg" alt="">
        </div>
    </div>
    <!-- Print third part of the content, in which it's show some text and a picture -->
    <div class="secondPart">
        <div class="imageTaste">
            <img src="/assets/Home/read.svg" alt="">
        </div>
        <div class="taste">
            <h1>Taste authenticity.</h1> 
            <p>Experience a taste of true Spanish cuisine, with food delivery straight to your door. Choose from a wide selection of ingredients and recipes with a traditional twist.</p>
        </div>
    </div>
    <!-- Print fourth part of the content, in which it's show some text and a picture -->
    <div class="thirdPart">
        <div class="deliv">
            <h1>Enjoy easy delivery.</h1> 
            <p>No more hassle or hassle-free delivery straight to your door. Spain in you will take care of your meal needs, saving you the time and trouble.</p>
        </div>
        <div class="imageDeliv">
            <img src="/assets/Home/deliv.svg" alt="">
        </div>
    </div>
</main>
<app-footer></app-footer>